.background {
  padding: 10px;
  background-color: rgb(182, 182, 182);
  /* display: inline-block; */
}

.box {
  background-color: grey;
  padding: 20px;
  width: 90%;
  display: inline-block;
  margin: 5px;
  text-align: center;
}
.a {
  height: 30px;
}
.b {
  height: 10px;
}
.c {
  height: 80px;
  text-align: center;
}

.box1 {
  background-color: gray;
  width: 30%;
  /* height: 200px; */
  padding: 200px 0;
  margin: 5px;
  margin-top: 5px;
  text-align: center;
  display: inline-block;
  /* vertical-align: top; */
}

.box2 {
  background-color: gray;
  width: 30%;
  /* height: 200px; */
  padding: 200px 0;
  margin: 5px;
  margin-top: 5px;
  text-align: center;
  display: inline-block;
}
.box3 {
  background-color: gray;
  width: 30%;
  /* height: 200px; */
  padding: 200px 0;
  margin: 5px;
  margin-top: 5px;
  text-align: center;
  display: inline-block;
}
.logo {
  text-align: left;
}
.navigation {
  text-align: right;
}
